@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

/* Estilizando o Header */
.cabecalho {
    background-color: yellow;
    /*Cor de fundo
     do header*/
    display: flex;
    /*Tornando os itens lado a 
     lado | Flexbox*/
    align-items: center;
    /*Alinhamento vertical */
    justify-content: space-evenly;
    /*Alinhamento horizontal */
    padding: 30px;
    /* Preenchimento interno */
    font-family: "Cormorant Garamond", serif;

}

/* Estilização da logo */
.img-header {
    width: 100px;
    /*Largura da logo Header*/
}

/* Estilização da lista */
.ul-lista li {
    list-style: none;
    /* removendo as bolinhas da lista */
}

/* Estilização da UL (elemento pai da LI */
.ul-lista {
    display: flex;
    /* tornando as litas lado a lado(flexbox)
     */
    gap: 15px;
    /* Espaçamento entre as listas */
}

/* Aqui estamos estilizando a âncora */
.ul-lista li a {
    text-decoration: none;
    /*Removendo o sublinhado da âncora*/
    color: black;
    /* Cor da letra */
    font-size: 20px;
    /* Tamanho da letra */
    text-transform: uppercase;
    /* Tornando o texto em CapsLock */
    font-weight: 700;
    /*Peso/Espessura da letra*/
    font-family: "UnifrakturMaguntia", cursive;
    /*Família de 
        font */
}

/* fim do cabeçalho */

/* section 01 */
.img-section-01 {
    width: 300px;
    /* Largura da imagem */
}

.section-01 {
    display: flex;
    /* tornando o div lado a lado| flexbox */
    align-items: center;
    /* alinhamento vertical */
    justify-content: space-evenly;
    /* alinhamento horizontal */
    flex-direction: row;
    /* direção de caixas */
    background-color: chocolate;
    /* cor de fundo */
    padding: 40px;
    /* preenchimento interno */
    gap: 30px;
    /* espaço entre as div */
}

.div-02 p {
    background-color: chocolate;
    font-size: 30px;
    /* tamanho da font */
    margin-left: 30px;
    /* margem da esquerda - espaçamento*/
    text-align: center;
    /* alinhamento do texto */
}

/* texto na section-01 */
span {
    color: yellow;
    /* cor da letra do span */
    font-size: 40px;
    /* tamanho da letra do span */

}

/* section-02 */
/* ícones devem ser manipulados como textos (font-size,color...) */
.fa-solid {
    font-size: 60px;
    color: yellow;
    /* corde fundo */
}

.section-02 {
    background-color: black;
    /* cor de fundo */
    padding: 80px;
    /* preenchimento interno */
    color: yellow;
    /* cor das letras (H2 e P) */
    display: flex;
    /* Tornando as div lado a lado */
    align-items: center;
    /* alinhamento vertical */
    flex-direction: column;
    /* direção das caixas */
    text-align: center;
    /* alinhamento texto ao centro */
}

/* estilização do titulo section2 */
.paragrafo-section-2 h2 {
    font-size: 30px;
    /* tamanho do texto h2 */
    text-transform: uppercase;
    /* tornando o texto em caixa */
}

.paragrafo-section-2 p {
    /* estilização do parágrafo */
    font-size: 25px;
    /* tamanho da letra */
}

.div-icon i {
    /* div que guarda os ícones */
    display: flex;
    /* tornando a caixa do flex */
    gap: 20px;
    /* brecha entre os Icon */
}

/* fim da section-02 */

/* inicio section-03 */
.section-03 {
    background-image: url(snoopyquadrinhos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.section-03 button {
    padding: 7px;
    /* preenchimento interno */
    width: 150px;
    /* largura do button */
    background-color: yellow;
    /* cor de fundo */
    color: black;
    /* cor da letra*/
    font-weight: 800;
    /* espessura da letra */
    border: none;
    /* removendo bordas do button */
}

.hr {}

/* section 07 */
.secttion-07 {
    background-image: url(imge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fixed;
    padding: 180px;
    display: flex;
    /* alinhamento vertical */
    justify-content: center;
    /* alinhamento horizontal */
}

.btn {
    padding: 7px;
    background-color: black;
    color: yellow;
    width: 150px;
    border: none;
}

.section-04 div {
    width: 300px;
    /* largura da caixa */
    height: 300px;
    /* altura da caixa */
    background-color: antiquewhite;
    /* cor de fundo */
    padding: 15px;
    /* preenchimento interno */
    text-align: center;
    /* alinhamento dos texts */
}

/* formatação da section 05} */
.section-05 {
    display: flex;
    /* deixando as div lado a lado */
    align-items: center;
    /*alinhamento vertical  */
    justify-content: space-evenly;
    /*alinhamento horizontal  */
    gap: 30px;
    /* espaço entre as caixa */
    padding: 60px;
    /* preenchimento interno das div */
    background-color: black;
}

.section-05 div {
    width: 300px;
    height: 300px;
    padding: 15px;
    background-color: orange;
    text-align: center;
}


/* estilização div-02 | segunda caixa */
.caixa-02 {
    background-image: url(imge.jpg);
    /* inserindo img de fundo */
    background-position: center;
    /* posicionamento img */
    background-repeat: no-repeat;
    /* desativando a repetição */
    background-size: cover;
    /* preenchimento completo img */
    /* background-attachment: fixed */
}

/* estilização div-02 | segunda caixa */
.caixa-02 {
    background-image: url();
    /* inserindo img de fundo */
    background-position: center;
    /* posicionamento img */
    background-repeat: no-repeat;
    /* desativando a repetição */
    background-size: cover;
    /* preenchimento completo img */
    /* background-attachment: fixed */
}

/* estilização´ttulo caixa 01 */
.caixa-01 h2 {
    font-size: 25px;
    /* tamanho da letra */
    text-transform: uppercase;
    /* letra em caixa alta  */
    margin-top: 30px;
    /* espaçamento superior */
}

/* estilização do parágrafo caixa 01 */
.caixa-01 p {
    font-size: 20px;
    /* tamanho da letra */
    font-weight: 700;
    /* peso da font */
    margin-top: 15px;
    margin-bottom: 25px;
}

/* estilização dos ícones */
.fa-star,
.fa-star-half {
    font-size: 30px;
    /* tamanho do icon */
    color: gold;
    /* cores do icon */
}

.fa-github {
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: black;
}

.caixa-03 p {
    font-size: 20px;
    /* tamanho da letra */
    font-weight: 700;
    /* peso da font */

}

/* estilizando button caixa 03 */
.caixa-03 button {
    padding: 7px;
    /* preenchimento interno */
    background-color: black;
    /* cor de fundo */
    color: aliceblue;
    /* cor da letra */
    width: 130px;
    /* largura do button */
    border: none;
    /* removendo borda */
}

.footer {
    background-color: black;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer .fa-instragram,
.fa-youtube,
.fa-x-twitter {
    color: yellow;
    font-size: 40px;
}

.caixa-footer {
    text-align: center;
}